
<div class="container">
  <ul class="nav nav-tabs">
  
    <ul><%= link_to 'blog', blogs_path%></ul>
    <ul><%= link_to 'portfolio', portfolio_path%> </ul>
    <ul><%= link_to 'contact', contact_path%></ul>
    <ul><%= link_to 'about', about_path%></ul>

  </ul>
</div>
<h1><%= @title %></h1>
<p>Find me in app/views/pages/about.html.erb</p>


